:root{
   --project-white:#FFF;
}
a{
    text-decoration: none;
}
ul{
    list-style-type: none;
}
button{
    cursor: pointer;
}
.container{
    width: 1130px;
    padding: 15px;
    margin: 0 auto;
}
p, h1, h2, h3, h4, h5, ul, button{
    padding: 0;
    margin: 0;
}

/* header */
.header{
    padding: 16px 0;
     background-color:#012D63;
}
header .container{
    display: flex;
    align-items: center;
    gap: 73px;
    justify-content: space-between;
}
.header_pages{
    display: flex;
    gap: 152px;
}
.header_list{
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
}

.header_list_link{
    color: #C7C7C7;
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    
}
.header_list_link:hover{
    color: var(--project-white);
}
.header_texte{
    color: #DCDCDC;

    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    display: flex; 
    gap: 15px;  
}
.header_texte_span{
    color: var(--project-white);
    font-family:' Roboto', sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

/* hero */
.hero{
    background-image: url('../images/heroimg.jpg');
    height: 858px;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
}
.hero_img{
    padding-top: 94px;
    width: 160px;
}
.hero_texte{
    color: var(--project-white);
    font-family: "PT Serif", sans-serif;
    font-size: 48px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.hero_main_title{
    color: var(--project-white);
    font-family: "Playfair Display", serif;
    font-size: 144px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.hero_title{
    color: var(--project-white);
    font-family: "Playfair Display",serif;
    font-size: 72px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 12px;
    margin-left: 8px;
}
.hero_texte2{
    color: var(--project-white);
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 41px;
}
.hero_btn{
    border-radius: 10px;
    background-color: #8E32C6;

    color: #FFF;
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding: 20px 69px;
}
.hero_div{
    width: 510px;
}

/* descr */
.descr{
    background-image: url('../images/descr_back.jpg');
    background-size: cover;
    height: 606px;
    padding: 105px 0;
}
.descr_list{
    border: 5px solid #8E32C6;
    height: 396px;
    width: 1110px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 0 auto;
}
.descr_list_item{
    width: 250px;
}
.descr_list_title{
    color: var(--project-white);
    text-align: center;
    font-family: "Playfair Display", serif;
    font-size: 36px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: 0 auto;
    width: 151px;
}

/* reviews */
.reviews{
    padding: 114px 0;
    background-image: url('../images/reviews_back.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.reviews_list{
    display: flex;
    gap: 93px;
    justify-content: center;
    align-items: center;
}
.reviews_title{
    color: var(--project-white);
    text-align: center;
    font-family: "Playfair Display", serif;
    font-size: 48px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 24px;
}
.reviews_list_item{
    width: 255px;
    height: 292px;
    padding: 49px 18px 29px;
    
    
}
.reviews_list_item:nth-child(1){
    border-radius: 15px;
background-image: linear-gradient(137deg, #00E5E6 7.29%, #00A8F7 26.04%, #9A76F9 62.5%, #CC5EC2 100%);
box-shadow: 0px 30px 0px -13px #533978, 0px 14px 0px -5px #7B54B2;
}
.reviews_list_item:nth-child(2){
    border-radius: 15px;
background-image: linear-gradient(137deg, #FF68B4 0%, #FF45E1 26.04%, #CE3AFF 62.84%, #8961FF 100%);
box-shadow: 0px 30px 0px -13px #61337C, 0px 14px 0px -5px #9159B1;
}
.reviews_list_item:nth-child(3){
    border-radius: 15px;
background-image: linear-gradient(143deg, #FFE128 0%, #FF9B5C 30.21%, #FF8381 63.29%, #FF5489 100%);
box-shadow: 0px 30px 0px -13px #732F26, 0px 14px 0px -5px #B95A4C;
}
.reviews_list_texte{
    color: var(--project-white);
    font-family:'Roboto', sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    width: 228px;
    margin: 0 0 8px;
}
.reviews_list_texte2{
    color: #D8D8D8;
    font-family: 'Roboto',sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 47px;
    width: 228px;

    
}
.reviews_list_title{
    color: var(--project-white);
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.reviews_list_texte3{
    color: #D8D8D8;
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
/* order */
.order{
    height: 509px;
    background-image: url('../images/order.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}
.order_title{
    color: var(--project-white);
    font-family: "Playfair Display", serif;
    font-size: 48px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 33px;
    text-align: center;
}
.order_form_div{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.order_input:nth-child(1){
    width: 690px;
    height: 60px;
    border-radius: 50px;
    
    color: #959595;
    font-family: 'Roboto', sans-serif;
    font-size: 28px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding: 12px 0 12px 25px;
}
.order_input{
    border-radius: 50px;
    width: 580px;
    height: 50px;
    margin-top: 19px;
    padding: 11px 0 11px 24px;color: #959595;

    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.order_form_btn{
    border-radius: 16px;
    background-color: #8E32C6;

    color: var(--project-white);
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding: 20px 48px;
    display: block;
    margin: 19px auto;
}

/* footer */
footer{
    height: 292px;
    background-color: #021635;
}
.footer_div1{
    display: flex;
    justify-content: space-between;
}
.footer_logo{
    width: 108px;
    height: 81px;
}
.footer_question{
    color: var(--project-white);
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.footer_div2{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.footer_div3{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
.footer_email{
    color: var(--project-white);

    font-family:'Roboto', sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration-line: underline;
}
.footer_texte{
    color: var(--project-white);

    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;    
}
.footer_hr{
    background-color: #9B9B9B;
    width: 1110px;
    height: 1px;
}
.footer_div4{
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
}
.footer_div5{
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
}
.footer-texte:nth-child(1){
    margin-top: 24px;
}
.footer-texte:nth-child(2){
    margin-top:7px;
}
.footer_logo_texte{
    color: var(--project-white);
    font-family: "PT Serif",serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.footer_div6{
    display: flex;

    justify-content: space-between;
    align-items: center;
}